<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.replik.peksansevkiyat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAPP"
        tools:targetApi="31">
        <activity
            android:name=".RecountingMenuActivity"
            android:exported="false" />
        <activity
            android:name=".RawMaterialStockListActivity"
            android:exported="false" />
        <activity
            android:name=".RawMaterialsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RawMaterialLotTransferActivity"
            android:exported="false" />
        <activity
            android:name=".RawMaterialLotTransfer"
            android:exported="false"
            android:theme="@style/Theme.TestAPP" />
        <activity
            android:name=".RawMaterial"
            android:exported="false" />
        <activity
            android:name=".RawMaterialMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EnumerationActivity"
            android:exported="false" />
        <activity
            android:name=".ShipmentOrderFinish"
            android:exported="false" />
        <activity
            android:name=".ShipmentOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ShipmentOrderListActivity"
            android:exported="false" />
        <activity
            android:name=".ShipmentCustomerListActivity"
            android:exported="false" />
        <activity
            android:name=".PrintActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PrintTestActivity"
            android:exported="false" />
        <activity
            android:name=".OrderFinishActivity"
            android:exported="false" />
        <activity
            android:name=".PalettePrint"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".PaletteEdit"
            android:exported="false" />
        <activity
            android:name=".PaletteAdd"
            android:exported="false" />
        <activity
            android:name=".PaletteActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".TestPdfActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LotListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsumableCountingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectionListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WarehouseListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>